<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recepies !!</title>
    <!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"-->
    <link rel="stylesheet"

          th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>My Recepies !!</h1>
<p>
    <a href="/recipe/new" >New</a>
</p>
<p>
    Total Number Of Recipies : <strong th:text="${recipies.size()}"></strong>
</p>
<table id="recepies" class="table table-striped" border="2">
    <thead class="thead-dark">
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 200px;">Description</th>
        <th style="width: 200px;">Category</th>
        <th style="width: 120px">Notes</th>
        <th style="width: 120px">Directions</th>
        <th style="width: 120px">View</th>
        <th style="width: 120px">View Ingredients</th>
        <th style="width: 120px">Update</th>
        <th style="width: 120px">Delete</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="recipie: ${recipies}">
        <td th:text="${recipie.id}" />
        <td th:text="${recipie.description}" />
        <td>
            <ul>
                <li th:each="category: ${recipie.categories}" th:text="${category.description}"></li>
            </ul>
        </td>

        <td th:text="${recipie.notes.recipeNotes}" />
        <td th:text="${recipie.directions}" />
        <td><a href="" th:href="@{'/recipe/' + ${recipie.id} + '/show'}">View</a> </td>

        <td><a href="" th:href="@{'/recipe/' + ${recipie.id} + '/ingredients'}">View Ingredientes</a> </td>
        <td><a href="" th:href="@{'/recipe/' + ${recipie.id} + '/update'}">Update</a> </td>
        <td><a href="" th:href="@{'/recipe/' + ${recipie.id} + '/delete'}">Delete</a> </td>


    </tr>
    </tbody>
</table>
</body>
</html>